@font-face {
    font-family: Poppins semi;
    src: url(../resources/Fonts/Poppins-SemiBold.ttf);
}

*{
    box-sizing: border-box;
}
.other{
    background-color: transparent;
    flex: 1 1 calc(25% - 40px);
    box-sizing: border-box;
    min-width: 200px;
    height: auto;
}

.cards{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.card{
    height: 200px;
    width: 350px;
    background-color: white;
    border-radius: 14px;
}

.card-top{
    margin-top: 10px;
    font-family: 'Poppins semi';
    font-size: 1.5rem;
    padding: 0 20px;

}

.card-middle{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    font-family: 'Poppins semi';
    font-size: 2rem;
    align-items: center;
}

.expenses-container {
    background-color: #ffffff;
    flex: 1 1 calc(25% - 40px);
    box-sizing: border-box;
    min-width: 200px;
    height: 70%;
    border-radius: 14px;
    margin-top: 10px;
}

#t1{
    margin: 0; 
}