@font-face {
    font-family: Poppins;
    src: url(../Landing-resources/fonts/Poppins-Regular.ttf);
    font-weight: normal;
}

body{
margin: 0;
background-image: url("../Landing-resources/media/loginfondo.jpg");
}

.flex-container {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.wrapper{
    display: flex;
    border: solid black 1px;
    border-radius: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-height: 800px;
}

.texto{
    margin: 0px;
    width: 100%;
    height: 100%;
    margin: 3rem;
    font-style: normal;
    font-weight: 400;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 6px;
    font-family: Poppins;
}
.texto a{
    text-decoration: none;
    color: black;
}

texto1 {

    font-size: 38px;
}

texto2 {

    font-size: 52px;
}
texto3 {

    font-size: 44px;

}
#texto4 {
    font-size: 30px;
    position: absolute;
    bottom: 0; /* Coloca al final */
    left: 0; /* Alinea a la izquierda */
    margin: 20px; /* Espaciado opcional */
    text-decoration: none;
    color: #374C59;
}

/* form{
font-size: 37px;
width: 415.77px;
height: 54px;
left: 375.9px;
top: 678.35px;
} */


.btn-login{
background: #374C59;
color: white;
border: none;
width: 50%;
height: 3rem;


}

.imagen img{
    height: 100%;
    border-radius: 0 15px 15px 0px;
}

input#Ingreso:hover {
    background: #2b3a45;
    transform: translateY(-2px); 
}

#login-form .form-control {
    margin: 0 auto; /* Para centrar si usas un porcentaje */
    height: 70px;
}

#wrong-dats{
    font-size: 20px;
}